{% extends "student/default_template.html" %}

{% block title %}Student Password Reset | Logeeks 'A'-Tutors {% endblock %}

{% block content %}
    <div class="container">
        <form action="/student/student_password_reset/" method="POST">
            {% csrf_token %}
            <label for="recipient_username">Student ID</label>
            <br>
            {% if error_occurred %}
                <p class="text-danger">You entered an incorrect Student ID <b>{{ incorrect_username }}</b></p>
                <input class="bg-danger form-control" maxlength="5" style="width: 300px" type="text" id="recipient_username" name="recipient_username" required>
            {% else %}
            <input type="text" class="form-control" style="width: 300px" maxlength="5" id="recipient_username" name="recipient_username" required>
            {% endif %}
            <br><br>
            <input class="btn btn-primary btn-sm" type="submit" value="Reset my password">
        </form>
    </div>
{% endblock %}