{% extends "student/default_template.html" %}

{% block title %}Password-reset-link confirmation | Logeeks 'A'-Tutors {% endblock %}

{% block content %}
    {% if link_is_valid %}
        {{ message }}
        <form action="{% url 'student:student_set_new_password' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="student_id" id="student_id" value="{{ student_id }}">
            <br>
            <input type="hidden" name="new_password" id="new_password" value="">
            <input type="hidden" name="retyped_new_password" id="retyped_new_password" value="None">
            <input type="submit" value="Set new password">
        </form>
    {% else %}
        {{ message }}
    {% endif %}


{% endblock %}