{% extends "student/default_template.html" %}

{% block title %}Password reset completed | Logeeks 'A'-Tutors {% endblock %}

{% block content %}
    <div class="alert alert-success">
        <p class="text-center"><i class="fa fa-check-circle"></i> <b>Successful!</b> Your password has finally been reset.</p>
    </div>
    <div class="jumbotron">
        <br><br>
        <p>You can now sign in.</p>
        <a class="btn btn-primary" href="{% url 'student:student_dashboard' %}">Sign in</a>
    </div>

{% endblock %}