{% extends "student/default_template.html" %}

{% block title %}Student Password Successfully Updated | Logeeks 'A'-Tutors {% endblock %}

{% block content %}
    <div class="alert alert-success">
        <h1>Your Password was successfully changed!</h1>
    </div>
    <div class="thumbnail">
        <p>
            Now your password has been updated and you will need to login again.
        </p>
        <a href="/student/dashboard/" class="btn btn-primary">Login again</a>
    </div>

{% endblock %}