{% extends "student/default_template.html" %}

{% block title %}Student Password Update | Logeeks 'A'-Tutors {% endblock %}

{% block content %}

    <div class="container">
        <br>
        {% if password_update_failed %}
            <div class="alert alert-danger">
                {{ password_update_error_message }}
            </div>
        {% endif %}
        <a class="btn btn-primary" href="/student/dashboard/">Return to Dashboard</a>
        <br><br>
        <form name="student password change form" method="POST" action="/student/student_change_password/">
            {% csrf_token %}
            <label for="current_password">Current Password</label>
            <br>
            <input type="password" name="current_password" id="current_password" minlength="8" required>
            <br><br>
            <label for="new_password">New Password (<small>Your password should not be a commonly used password.</small>)</label>
            <br>
            <input type="password" name="new_password" id="new_password" minlength="8" required>
            <br><br>
            <p>Your password can't be too similar to your other personal information, like your name</p>
            <p>Your password must contain at least 8 characters.</p>
            <p>Your password can't be entirely numeric.</p>
            <br><br>
            <label for="retyped_new_password">New Password Confirmation</label>
            <br>
            <input type="password" name="retyped_new_password" id="retyped_new_password" minlength="8" required>
            <br><br>
            <input class="btn btn-success" type="submit" value="Change my Password">
        </form>
    </div>

{% endblock %}