{% extends "tutor/default_template.html" %}

{% block title %}Tutor set new password{% endblock %}

{% block content %}

    <div class="container">
        {% if password_update_failed %}
            <div class="alert alert-danger">
                {{ error_message }}
            </div>
        {% endif %}
        <form action="/tutor/tutor_set_new_password/" method="POST">
            {% csrf_token %}
            <label for="new_password">New Password (<small>Your password should not be a commonly used password.</small>)</label>
            <br>
            <input class="form-control" type="password" name="new_password" id="new_password" minlength="8" required>
            <br><br>
            <p>Your password can't be too similar to your other personal information, like your name</p>
            <p>Your password must contain at least 8 characters.</p>
            <p>Your password can't be entirely numeric.</p>
            <br><br>
            <label for="retyped_new_password">New Password Confirmation</label>
            <br>
            <input class="form-control" type="password" name="retyped_new_password" id="retyped_new_password" minlength="8" required>
            <input type="hidden" value="{{ tutor_number }}" name="tutor_number" id="tutor_number">
            <br><br>
            <input class="btn btn-primary" type="submit" value="Set new Password">
        </form>
    </div>

{% endblock %}